@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.bg-black {
  background-color: #000000 !important;
}

.nav-link {
  color: #ffff !important;
}

.nav-item a:hover {
  background-color: green;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.html-content {
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 100%;
}

.header-img {
  max-width: 100%;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  display: block;
  width: 100%;
}

.header-img:hover {
  transform: scale(1.5);
}

.slide {
  height: auto !important;
}

.no-padding {
  padding: 0 !important;
}

.text-html {
  padding: 0 18px 15px 28px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  -moz-transition: width 1s;
  transition: width 1s;
}
.text-html h4 {
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
.text-html h2 {
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
.text-html h3 {
  color: #ec005f;
  margin: 0 0 14px -3px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

.main-anim-slider:hover .text-html {
  left: 40px;
  transition: all 0.3s ease;
}

.carousel-caption h4 {
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  padding: 0 5px;
  background: #ec005f;
  display: inline-block;
  text-transform: uppercase;
  font: 900 24px/28px "Roboto", sans-serif;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.item-title {
  position: absolute;
  left: 0;
  bottom: 35px;
  margin: 0;
  font: 900 24px/28px "Roboto", sans-serif;
  color: #ec005f;
  width: 100%;
  text-align: center;
  padding: 0 40px;
}

.card-pro {
  margin-bottom: 20px !important;
  padding: 10px 20px 20px 10px;
}

.card-title {
  margin-top: 10px;
}

.price {
  display: inline-block;
  margin-right: 6px;
  font: 900 21px/24px "Roboto", sans-serif;
  color: #ec005f;
  white-space: nowrap;
}

.btn-pink {
  background-color: #ec005f;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: normal;
  text-transform: uppercase;
  font: 900 15px/19px "Roboto", sans-serif;
}

.btn-pink:hover {
  color: #fff;
  background-color: #1e8a12;
}

.wm img {
  padding: 0 !important;
  max-width: 100%;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
  height: auto;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.wm h5 {
  display: inline-block;
  padding: 0 5px;
  font: 900 17px/23px "Roboto", sans-serif;
  text-transform: uppercase;
  margin: 0;
  background: #ec005f;
}
.wm p {
  font: bold 20px/26px "Roboto", sans-serif;
}

.wm:hover img {
  transform: scale(1.5);
}

.card-text {
  font-size: 12px;
}

.features {
  padding: 50px 20px 20px 20px;
}

.icon {
  float: left;
  width: 70px;
  height: 70px;
  margin: -2px 20px 10px 0;
  font-size: 31px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  background: #ec005f;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.icon .img1 {
  width: 55px;
  height: 55px;
}
.icon .img2 {
  width: 45px;
  height: 50px;
}
.icon .img3 {
  width: 45px;
  height: 45px;
}

.type-text {
  padding: 0;
  margin: 0 0 5px;
  font: 900 17px/23px "Roboto", sans-serif;
  color: #000;
  text-transform: uppercase;
}
.type-text p {
  margin: 0 0 10px;
  font-size: 9px;
  font-weight: 200;
}

.list_link {
  font-size: 12px;
  line-height: 28px;
  color: #000;
}
.list_link a {
  text-decoration: none;
  color: gray;
}
.list_link a:hover {
  color: #ec005f;
}

.table {
  margin-top: 100px;
}

@media screen and (max-width: 991px) {
  .item-title {
    bottom: 0px;
    font: 900 15px/21px "Roboto", sans-serif;
    padding: 0 20px;
  }

  .class-xbox {
    font: 900 15px/15px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .item-title {
    display: none;
  }

  .img-responsive {
    margin: 0px;
  }

  .text-html h4 {
    font-size: 16px;
  }
  .text-html h2 {
    font-size: 19px;
  }
  .text-html h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 370px) {
  .text-html h4 {
    font-size: 11px;
  }
  .text-html h2 {
    font-size: 14px;
  }
  .text-html h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 309px) {
  .text-html h4 {
    font-size: 8px;
  }
  .text-html h2 {
    font-size: 9px;
  }
  .text-html h3 {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  .wm {
    padding-bottom: 20px !important;
  }
}

/*# sourceMappingURL=index.css.map */
